/*@import "elements.less"; */
/* #9AD45B */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
}
/* Common header bar */
.header {
  border-bottom: 1px solid #333333;
  background: #666666;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #666666), color-stop(1, #999999));
  background: -ms-linear-gradient(bottom, #666666, #999999);
  background: -moz-linear-gradient(center bottom, #666666 0%, #999999 100%);
  background: -o-linear-gradient(#999999, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666', GradientType=0);
}
.header * {
  margin: 0;
}
.header h1 {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  line-height: 40px;
  padding: 0 10px;
  display: inline-block;
  /* todo: text-align: center;  */

}
.header button, .header .button {
  display: inline-block;
  border: none;
  font: inherit;
  line-height: 40px;
  padding: 0 10px;
  background: #999999;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #999999), color-stop(1, #b3b3b3));
  background: -ms-linear-gradient(bottom, #999999, #b3b3b3);
  background: -moz-linear-gradient(center bottom, #999999 0%, #b3b3b3 100%);
  background: -o-linear-gradient(#b3b3b3, #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#999999', GradientType=0);
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.header .left {
  float: left;
  border-right: 1px solid #333333;
  width: 40px;
  text-align: center;
  font-size: 20px;
}
.header .right {
  float: right;
  border-left: 1px solid #333333;
}
.splitter {
  text-align: center;
  border-bottom: 1px solid #333333;
  height: 25px;
}
.splitter a {
  display: inline-block;
}
.background {
  padding: 0;
  margin: 0;
  border-top: 1px solid transparent;
  background: #eee;
}
.background .header-card {
  text-align: center;
  margin: 30px 0;
}
.background .header-card * {
  margin: 0;
}
.background .header-card h3 {
  font-size: 1.5em;
}
.background .header-card .meta {
  color: #999;
  font-size: 12px;
}
.background .post-card {
  margin: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.background .post-card:active, .background .post-card.active {
  background: lime;
}
.background .post-card:active *, .background .post-card.active * {
  opacity: 0.5;
}
.background .post-card * {
  margin: 0;
}
.background .post-card h3 {
  line-height: 25px;
  font-size: 1em;
  padding: 5px;
  color: #555;
  border-bottom: 1px solid #ccc;
}
.background .post-card img.map {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.background .post-card div.content {
  line-height: 1.25em;
  padding: 0 5px;
  color: #555;
}
.background .post-card div.meta {
  background: #f0f0f0;
  color: #999;
  line-height: 20px;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 10px;
}
.posts-show .post-header {
  position: relative;
}
.posts-show .post-header .info {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.posts-show .post-header .info * {
  color: white;
  margin: 0;
  padding: 0;
}
.posts-show .post-header .info img {
  float: left;
  margin: 5px 10px 5px 5px;
  background: white;
  border: 1px solid black;
  width: 42px;
}
.posts-show .post-header .info h3 {
  font-size: 20px;
  margin: 5px 0 5px 0;
  text-shadow: 1px 1px 1px black;
}
.posts-show .post-header img.map {
  border-bottom: 1px solid #333333;
}
.posts-show .actions {
  border-bottom: 1px solid #333333;
  padding: 5px 0;
  text-align: center;
  background: #f0f0f0;
}
.posts-show .actions button {
  border: 2px solid #555;
  border-radius: 15px;
  padding: 5px 10px;
  background: white;
  font: inherit;
  color: #555;
  margin-right: 10px;
}
.posts-show .content {
  padding: 10px;
  line-height: 25px;
}
/* google completer */
.pac-container {
  border: none;
  border-top: 1px solid #ccc;
}
.pac-container .pac-item {
  font-size: 12px;
  color: #555;
  border-bottom: 1px solid #ccc;
  line-height: 26px;
  padding: 0 10px;
}
.posts-new .f {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #333333;
}
.posts-new .f.last {
  border: none;
}
.posts-new .f label {
  text-transform: uppercase;
  font-size: 10px;
  color: #666;
  display: block;
  padding: 0 10px 5px 10px;
}
.posts-new .f input, .posts-new .f textarea, .posts-new .f button {
  box-sizing: border-box;
  resize: none;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #555;
  line-height: 22px;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  padding: 0 10px;
  border: none;
}
.posts-new .f button {
  background: #7bb3e0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7bb3e0), color-stop(1, #9bd3ff));
  background: -ms-linear-gradient(bottom, #7bb3e0, #9bd3ff);
  background: -moz-linear-gradient(center bottom, #7bb3e0 0%, #9bd3ff 100%);
  background: -o-linear-gradient(#9bd3ff, #7bb3e0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd3ff', endColorstr='#7bb3e0', GradientType=0);
  border-color: #333333;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font: inherit;
  font-weight: bold;
}
.posts-new .f button.submit {
  height: 40px;
}
.posts-new .f textarea {
  height: 150px;
}
.posts-new .f-location address {
  font-style: normal;
  color: #aaa;
  font-size: 12px;
  padding: 3px 10px 0 10px;
}
.posts-new .f-location input {
  /*width: 240px;*/

}
.posts-new .f-location button {
  width: 50px;
  height: 30px;
  margin-left: 3px;
}
.posts-new .f-location #map {
  position: relative;
}
.posts-new .f-location #map-container {
  background: blue;
  border: 1px solid #ccc;
  width: 100%;
  height: 320px;
}
.posts-new .f-location button.confirm {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.posts-new .disabled * {
  opacity: 0.5;
}
.posts-new .disabled input, .posts-new .disabled textarea, .posts-new .disabled button {
  background: #eee;
  border-color: #ccc;
}
